@import './Variables.scss';

.Input {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 10px 0;
  background-color: $lightBackgroundColor;
  border-radius: 5px;

  &__Icon {
    width: 32px;
  }

  &__Editable {
    width: 25%;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__Editable:hover {
    cursor: pointer;
  }

  &__Editable::placeholder {
    text-align: end;
    font-weight: bold;
    color: $primaryColor;
  }

  &:hover {
    cursor: pointer;
  }
}