:root {
  --primaryColor: '#41729F';
  --secondaryColor: '#274472';
  --backgroundColor: #C3E0E5;
  --lightBackgroundColor: rgba(195, 225, 229, 0.3);
  --whiteColor: #fff;
  --smallText: 1.6rem;
  --largeText: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C3E0E5;
}